*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Console', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #0077ff, #00bb10, #AA00FF, #fa4b4b);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255, 0.75);
}

.calculator-grid > button:hover {
    background-color: rgba(255,255,255, 0.90);
    background: linear-gradient(-45deg, rgba(255,255,255, 0.75), #FFFFFF);
}

.calculator-grid > button:active {
    background: linear-gradient(-45deg, #FFFFFF, rgba(255,255,255, 0.75));
}


.calculator-grid > .bottom-left {
    border-radius: 0px 0px 0px 10px;
}

.calculator-grid > .bottom-right {
    border-radius: 0px 0px 10px 0px;
}

.calculator-grid > .top-curve {
    border-radius: 10px 10px 0px 0px;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255,255,255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.debug {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}